@layer theme, utilities;

@layer theme {
  body {
    font-family: sans-serif;
    user-select: none;
  }

  h1 {
    margin: 0.2em 0;
  }

  button {
    cursor: pointer;
    border-radius: 0;
    border: 0.15em solid grey;
  }

  input[type="range"] {
    appearance: none;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: grey;
  }

  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: white;
    border-radius: 0.3rem;
    height: 1rem;
    width: 1rem;
  }

  select {
    font-size: large;
  }
}

@layer utilities {
  app-header {
    display: flex;
    align-items: center;
    gap: 1em;

    .badge {
      background-color: crimson;
      color: white;
      border-radius: 0.5em;
      padding: 0.3em;
      font-size: small;
      font-weight: bold;

      &.connected {
        background-color: #0067ff;
      }
    }
  }

  .mix-select {
    display: flex;
    flex-direction: row;
    gap: 0;

    button {
      font-size: larger;
      padding: 0.2em 1em;
      white-space: nowrap;

      &.active {
        background-color: lime;
      }
    }
  }

  stein-mixer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  stein-mixer div {
    display: flex;
    gap: 0.2em;

    stereo-input {
      display: flex;
      flex-direction: column;

      .stereo-toggle {
        background-color: grey;
        width: 100%;
        max-height: 2em;
        

        :has(input:checked) {
          background-color: #ffe700;
        }

        label {
          height: 100%;
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;

          svg {
            height: 100%;
          }
        }
      }
    }

    channel-strip {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      padding: 0.2em;
      padding-top: 1em;
      background-color: lightgray;
      justify-content: flex-end;

      fx-section {
        display: flex;
        gap: 0.2em;

        vu-meter {
          height: 8em;
          display: flex;
          background: black;
          width: 1.2em;
          align-items: self-end;
          position: relative;

          .momentary-overlay{
            height: 0em;
            background-color: lime;
            position: relative;
            bottom: 0;
            width: 100%;
          }

          .max-bar {
            background-color: white;
            height: 0.2em;
            width: 100%;
            position: absolute;
          }
        }

        .controls {
          display: flex;
          flex-direction: column;

          button {
            display: flex;

            svg {
              width: 1.5em;
            }
          }

          .hpf-button {
            &.enabled {
              background: lime;
            }
          }

          .invert-phase-button {
            &.enabled {
              background: lime;
            }
          }
        }
      }

      pan-slider {
        display: flex;
        flex-direction: column;
        align-items: center;

        input[type="range"] {
          width: 6em;
          height: 1em;
          appearance: none;
          background-color: rgb(0, 162, 0);
          cursor: pointer;
          border-radius: 0.3rem;
        }
    
        input[type="range"]::-webkit-slider-thumb {
          appearance: none;
          background-color: white;
          border-radius: 0.3rem;
          height: 1rem;
          width: 1rem;
        }
      }

      send-slider {
        display: flex;
        flex-direction: column;
        align-items: center;

        input[type="range"] {
          width: 6em;
          height: 1em;
          appearance: none;
          background-color: rgb(0, 152, 212);
          cursor: pointer;
          border-radius: 0.3rem;
        }
    
        input[type="range"]::-webkit-slider-thumb {
          appearance: none;
          background-color: white;
          border-radius: 0.3rem;
          height: 1rem;
          width: 1rem;
        }
      }

      .daw-reverb-placeholder {
        height: 36px;
      }

      volume-slider {
        display: grid;
        grid-template: "a b" "c c";
        flex-direction: column;
        align-items: center;
        gap: 0.8em;
        width: 100%;

        .buttons {
          display: flex;
          flex-direction: column;
          background-color: transparent;
          align-self: self-start;
          align-items: center;

          button {
            background-color: grey;
            font-weight: bold;
            border: 0.15rem solid black;
            cursor: pointer;
            width: 2.2rem;
            aspect-ratio: 1;
            font-size: larger;
          }

          .solo-button.active {
            background-color: #ffe700;
          }

          .mute-button.active {
            background-color: crimson;
          }

          .phantom-voltage-indicator {
            background-color: grey;
            border: 0.15rem solid black;
            width: 1.5rem;
            box-sizing: border-box;
            aspect-ratio: 1;
            font-size: small;
            display: flex;
            align-items: center;
            border-radius: 100%;
            margin-top: 4em;

            &.enabled {
              background-color: crimson;
            }
          }

          .phantom-voltage-indicator-label {
            font-size: small;
          }
        }
      
        input[type="range"] {
          writing-mode: vertical-lr;
          direction: rtl;
          height: 15em;
          width: 1em;
          appearance: none;
          background-color: black;
          cursor: pointer;
          border-radius: 0.3rem;
        }

        input[type="range"]::-webkit-slider-thumb {
          appearance: none;
          margin-top: -12px; /* Centers thumb on the track */
          background-color: #0067ff;
          border-radius: 0.3rem;
          height: 3.5rem;
          width: 2rem;
        }

        .volume-level {
          grid-area: c;
          text-align: center;
        }
        
      }

      .title {
        text-transform: uppercase;
        color: #3e3e3e;
        font-weight: bold;
      }
    }
  }

  channel-strip[type="master"] volume-slider input[type="range"]::-webkit-slider-thumb {
    background-color: crimson;
  }

  master-reverb, interface-settings {
    background-color: lightgrey;
    width: fit-content;
    padding: 1em;
    display: flex;
    flex-direction: column;

    h2 {
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    .settings {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 0;
      max-height: 22rem;

      input, select {
        display: block;
        width: 10rem;
      }

      & > * {
        max-width: 10em;
      }

      & > label {
        display: flex;
        flex-direction: column;

        span {
          font-size: smaller;
        }
      }

      .description {
        display: block;
        font-size: small;
        word-break: break-word;
      }
    }

    .settings.horizontal {
      flex-direction: row;

      input, select {
        width: auto;
      }
    }
  }

  .settings {
    padding: 1em;
    gap: 1em;
    font-size: large;
    font-family: sans-serif;
  }
  
  .setting {
    display: flex;
    flex-direction: column;
  }
}
